<div id="<%= dom_id category %>" class="flex border m-2  items-center p-5">
    <div class="col">
    <%= image_tag category.icon, style: 'height: 60px;', class: 'mx-3' if category.icon.attached? %>

  </div>
  <p class="font-medium text-gray-500 text-xl mx-3 ">
    <%= category.name %>
  </p>
   <p class="text-center font-bold text-xl  ml-auto <%= over_budget ? 'text-red-500' : 'text-black' %>">
    <%=  number_to_currency(category.payments.sum(:amount), unit: '$') %>
  </p>
</div>
